@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto');

body {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: #5356ad;
  overflow: hidden;
}

.table {
  display: table;
  width: 100%;
  height: 100%;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
  transition: all 0.5s;
}

.container {
  position: relative;
  width: 600px;
  height: 320px;
  margin: -160px auto 0;
  top: 50%;
  background-color: #999ede;
  transition: all 0.5s;
}

.box {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.box::before,
.box::after {
  content: "";
  position: absolute;
  left: 152px;
  top: 50px;
  width: 300px;
  height: 285px;
  background-color: #9297e0;
  transform: rotateX(52deg) rotateY(15deg) rotateZ(-38deg);
  transition: all 0.5s;
}

.box::after {
  background-color: #a5aae4;
  top: -10px;
  left: 80px;
  width: 320px;
  height: 180px;
}

.container-forms {
  position: relative;
}

.btn {
  cursor: pointer;
  text-align: center;
  margin: 0 auto;
  width: 60px;
  color: #fff;
  background-color: #ff73b3;
  padding: 10px 15px;
  transition: all 0.5s;
}

.btn:hover {
  opacity: 0.7;
}

input {
  margin: 0 auto 15px;
  display: block;
  width: 220px;
  padding: 10px 15px;
  transition: all 0.3s;
}

.container-info {
  text-align: left;
  font-size: 0;
}

.info-item {
  text-align: center;
  font-size: 16px;
  width: 300px;
  height: 320px;
  display: inline-block;
  vertical-align: top;
  color: #fff;
  transition: all 0.3s;
}

.info-item p {
  font-size: 20px;
  margin: 20px;
}

.info-item .btn {
  background-color: transparent;
  border: 1px solid #fff;
}

.info-item .table-cell {
  padding-right: 35px;
}

.info-item:nth-child(2) .table-cell {
  padding-left: 35px;
  padding-right: 0;
}

.container-form {
  overflow: hidden;
  position: absolute;
  left: 30px;
  top: -30px;
  width: 305px;
  height: 380px;
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  transition: all 0.5s;
}

.container-form::before {
  content: "✔";
  position: absolute;
  left: 160px;
  top: -50px;
  color: #5356ad;
  font-size: 130px;
  opacity: 0;
  transition: all 0.5s;
}

.container-form .btn {
  position: relative;
  box-shadow: 0 0 10px 1px #ff73b3;
  margin-top: 30px;
}

.form-item {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: all 0.5s;
}

.form-item.sign-up {
  left: -100%;
  opacity: 0;
}

.container.log-in .box::before {
  left: 180px;
  top: 62px;
  height: 265px;
}

.container.log-in .box::after {
  top: 22px;
  left: 192px;
  width: 324px;
  height: 220px;
}

.container.log-in .container-form {
  left: 265px;
}

.container.log-in .form-item.sign-up {
  left: 0;
  opacity: 1;
}

.container.log-in .form-item.log-in {
  left: -100%;
  opacity: 0;
}

.container.active {
  width: 260px;
  height: 140px;
  margin-top: -70px;
}

.container.active .container-form {
  left: 30px;
  width: 200px;
  height: 200px;
}

.container.active .container-form::before {
  left: 51px;
  top: 5px;
  opacity: 1;
}

.container.active input,
.container.active .btn,
.container.active .info-item {
  display: none;
}

        &.sign-up
          left: 0
          opacity: 1

        &.log-in
          left: -100%
          opacity: 0

  &.active
    width: 260px
    height: 140px
    margin-top: -70px

    .container-form
      left: 30px
      width: 200px
      height: 200px

      &:before
        content: '\2714'
        position: absolute
        left: 51px
        top: 5px
        color: #5356ad
        font-size: 130px
        opacity: 1

    input, .btn, .info-item
      display: none
      opacity: 0
      padding: 0
      margin: 0 auto
      height: 0

    .form-item
      height: 100%

    .container-forms
      .container-info

        .info-item
          height: 0%
          opacity: 0

.rabbit
  width: 50px
  height: 50px
  position: absolute
  bottom: 20px
  right: 20px
  z-index: 3
  fill: #fff